{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1></h1>

    <ul>
        {% for entry in entries %}
            {% if entry == 'CSS' %}
                 <li><a href="{% url 'encyclopedia:entry' entry.title|upper %}">{{ entry|upper }}</a></li>
            {% elif entry == 'HTML' %}
                <li><a href="{% url 'encyclopedia:entry' entry.title|upper %}">{{ entry|upper }}</a></li>
            {% else %}
            <li><a href="{% url 'encyclopedia:entry' entry.title %}">{{ entry }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}